:root {
  font-size: 16px;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

#productName {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

#createPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

  .popup {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
  }

  .popup__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .popup__gallery {
    margin: auto;
    max-width: 478px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .popup__gallery__arrow {
    margin: 1em;
    display: flex;
    justify-content: center;
    cursor: pointer;
  } 

  #leftArrow {
    transform: rotate(180deg);
  }

  .popup__gallery__image {
    height: auto;
    max-width: 229px;
  }

  .popup__gallery__image > img {
    height: 100%;
    width: 100%;
  }

  .popup__form {
    width: 100vw;
  }

  #buyForm {
    margin: auto;
    max-width: 478px;
  }

  .form__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 16px auto;
  }

  .form__productAvaibility {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 12px;
    margin-left: 6px;
  }

  .form__productSize {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: 16px auto;
  }

  .productSize__options {
    display: flex;
    flex-direction: row;
  }

  .form__productSize input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .form__productSize label {
    display: inline-block;
    border: 1px solid #C3C7C8;
    border-radius: 5px;
    text-align: center;
    color: #474747;
    padding: 8px;
    margin: 8px 8px 0 0;
    font-size: 12px;
    cursor: pointer;
  }

  .form__customLabel {
    font-size: 12px;
    color: #333;
    letter-spacing: 0.7px;
    font-stretch: semi-expanded;
  }
  

  .form__productSize input:checked + label {
    border: 2px solid #0090F6;
    color: #000;
  }

  .form__productVariant {
    width: 90%;
    margin: 16px auto;
  }

  .customSelect {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }

  .customSelect--default {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #C3C7C8;
    border-radius: 5px;
    visibility: hidden;
    cursor: pointer;
  }

  .customSelect__option {
    padding: 0.5em 0.35em 0.5em 0.35em;
    outline: none;
    font-size: 12px;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: .3s ease;
  }

  .customSelect__option:hover {
    background-color: #daeff5;
    transition: .3s ease;
  }

  .customSelect__arrow {
    content: url('./svg/chevron-right.svg');
    transform: rotate(90deg);
    padding: 0.5em 0.35em 0.5em 0.35em;
    visibility: visible;
    z-index: 1;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: ease-out .5s;
  }

  .customSelect__arrow--rotate {
    transform: rotate(-90deg);
    transition: ease-in .5s;
  }

  .customSelect__options {
    visibility: hidden;
    width: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #C3C7C8;
    border-radius: 5px;
    background-color: #fff;
  }

  .customSelect__options--visible {
    visibility: visible;
    border-radius: 5px;
    width: 90%;
    max-width: 430px;
  }

  .customSelect--default--border {
    border: 1px solid #C3C7C8;
    border-radius: 5px;
    visibility: visible;
  }

  .form__productAvaibility {
    color: #333;
  }

  .productAvaibility__isAvaiable {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
  }

  .productAvaibility__delivery {
    display: flex;
    flex-direction: row;
  }

  .productAvaibility__icon {
    margin: auto 16px;
  }

  .productAvaibility__deliveryCost {
    color: #0090F6;
    cursor: pointer;
  }

  .form__productQuantity {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 16px auto;
  }

  .quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 48px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 16px;
    color: #474747;
  }

  .quantity__numberContainer {
    width: 33%;
  }

  #quantity__number {
    border: none;
    width: 100%;
    text-align: center;
    background: #fff;
  }

  .addToCartButton__container {
    border: 1px solid #0090F6;
    border-radius: 5px;
    width: 65%;
  }

  .addToCartButton {
    border: 1px solid #0090F6;
    border-radius: 3px;
    background-color: #0090F6;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 48px;
    width: 100%;
    cursor: pointer;
    outline: none;
    transition: ease .5s;
  }

  .addToCartButton:active {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
  }

  #exitButton {
    color: #2B2B2B;
    cursor: pointer;
  }

@media only screen and (min-width: 757px) {
  .popup {
    width: 743px;
    height: 353px;
  }

  .popup__content {
    flex-direction: row;
    padding: 8px;
  }

  .popup__gallery__arrow {
    padding-bottom: 24px;
  }

  #arrowLeftContainer {
    margin: 28px 16px 16px 28px;
  }

  #arrowRightContainer {
    margin: 28px 20px 16px 12px;
  }

  .popup__gallery__image {
    width: auto;
    padding-top: 9px;
    min-width: 229px;
  }

  .popup__gallery {
    height: auto;
    min-width: 306px;
    padding-left: 5px;
  }

  .popup__form {
    width: auto;
    height: 100%;
    padding-left: 12px;
    margin-left: 7px;
  }

  #productName {
    width: 315px;
  }

  .form__header {
    width: 100%;
    margin-top: 15px;
  }

  .form__productSize {
    width: 100%;
    margin-top: 25px;
  }

  .form__productSize label {
    width: 98px;
    padding: 8px 0;
    margin-left: 16px;
    margin-top: 9px;
    margin-right: -2px;
    line-height: 1.3;
  }

  .form__productSize label:hover {
    background-color: #daeff5;
    color: #000;
    border-top: 2px solid;
    border-color: #0090F6;
  }

  .form__productSize input:checked + label {
    width: 96px;
    margin-top: 8px;
  }

  .form__customLabel {
    margin-left: 16px;
    transition: ease .3s;
  }

  .form__productVariant {
    width: 100%;
    padding-top: 4px;
  }

  .customSelect {
    margin-left: 16px;
  }

  .customSelect--default {
    width: 367px;
  }

  .customSelect__options {
    width: 367px;
  }

  .customSelect__option {
    padding: 9px 0 10px 12px;
    margin: 0;
    width: 355px;
  }

  .customSelect__arrow {
    padding: 0;
    transform-origin: top;
    position: fixed;
    left: 95%;
    margin-top: 16px;
    margin-bottom: 0;
  }

  .customSelect__arrow--rotate {
    transform: rotate(-90deg);
    transform-origin: bottom;
    margin-top: 4px;
  }

  .form__productAvaibility {
    flex-direction: row;
    margin-left: 16px;
    width: auto;
  }

  .productAvaibility__isAvaiable {
    margin-top: 4px;
    padding-top: 1px;
  }  

  .productAvaibility__icon {
    margin: auto;
  }

  .deliveryIcon {
    margin-left: 25px;
    padding-left: 2px;
    padding-bottom: 2px;
  }

  .productAvaibility__text {
    font-size: 13px;
    margin-left: 11px;
    line-height: 1.3;
  }

  #productName {
    line-height: 1.1;
    padding-left: 16px;
  }

  #exitButton {
    margin-right: 16px;
  }

  #exitButton:hover {
    transform: translateY(2px)
  }

  .form__productQuantity {
    width: auto;
    margin-left: 16px;
    margin-top: 18px;
    justify-content: space-between;
  }

  .quantity {
    border: 0.5px solid #C3C7C8;
    min-width: 138px;
    height: 48px;
    justify-content: space-between;
    margin-right: 13px;
    margin-top: 1px;
  }

  .quantity__operator {
    font-size: 17px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
  }

  .quantity__operator:active {
    transform: translateY(-1px);
    color: #000;
    font-weight: bolder;
  }

  .quantity__numberContainer {
    padding-left: 3px;
  }

  #quantity__number {
    background: #fff;
    font-size: 14px;
  }

  .operatorMinus {
    padding-left: 12px;
  }

  .operatorPlus {
    padding-top: 4px;
    padding-right: 9px;
  }

  .addToCartButton__container {
    min-width: 216px;
    height: 48px;
    margin-right: 16px;
    margin-top: 2px;
  }

  .addToCartButton {
    border: 1px solid #0090F6;
    border-radius: 3px;
  }

  .addToCartButton:hover {
    background-color: #077bce;
    transition: ease .1s;
  }

  #leftArrow:active {
    transform: rotate(180deg) translateX(2px);
  }

  #rightArrow:active {
    transform: translateX(2px);
  }
}